<%= button_to "Back", account_path(@account.id), method: :get %>
<h1>Subscriptions list</h1>
<%= button_to "New Subscription", new_account_subscription_path(@account.id), method: :get %>
<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Issued At</th>
      <th>Expires At</th>
      <th>Number of Licenses</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td>
          <%= subscription.product.name %>
        </td>
        <td>
          <%= format_date_time(subscription.issued_at) %>
        </td>
        <td>
          <%= format_date_time(subscription.expires_at) %>
        </td>
        <td style="text-align: center;">
          <%= subscription.number_of_licenses %>
        </td>
        <td>
          <%= format_date_time(subscription.created_at) %>
        </td>
        <td>
          <%= button_to "Edit", edit_account_subscription_path(@account.id, subscription.id), method: :get %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


