<%= render 'header', back_path: accounts_path %>

<div class="buttons-line">
  <%= button_to "Edit Account", edit_account_path(@account), method: :get %>
  <%= button_to "View Subscriptions", account_subscriptions_path(@account.id), method: :get %>
  <%= button_to "Add User", new_account_user_path(@account.id), method: :get %>
  <%= button_to "Manage licenses", account_license_assignments_path(@account.id), method: :get %>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= button_to "Edit", edit_account_user_path(@account.id, user.id), method: :get %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
